// app global css in Sass form
//.q-btn
//  margin 5px

//.q-btn-group .q-btn
//  margin 0

//.docs-input .q-if, .docs-input .q-field, .docs-input .q-uploader
//  margin 0

.draggable
  cursor: move !important;

.q-item.q-item--active
  color: green !important;
