/* @import '~variables' */

.docs-input
  .q-if, .q-field, .q-uploader
    margin 0px
  .q-field, .q-uploader
    .q-if
      margin 0
  .q-field .q-uploader
    margin 0
  .caption:not(:first-child)
    margin-top 0px
  .dark-example
    padding 5px 15px 15px
    box-shadow $shadow-2
    border-radius 2px
.q-if-inverted .q-if-label.q-if-label-above, .q-if-standard .q-if-label.q-if-label-above {
        font-size: 0.85rem;
}
